.valido{
    background-color: rgb(126, 243, 126);
}
.no_valido{
    background-color: rgb(252, 133, 133);
}

form{
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    margin: auto;
    background-color: rgb(230, 226, 221);
}

p{
    margin-bottom: 0;
}
input{
    border-radius: 10px;
    width: 300px;
    margin-top: 0px;
    padding: 5px;
}

span{ 
    opacity: 0;
    display: block;
    color: brown;
    height: 10px;
}

.no_valido+span{
    opacity: 1;
}